<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoyo1.whereis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_eodie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_eodie_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.SplashScreen">
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.GroupAddActivity" />
        <activity android:name=".Activity.GroupActivity" />
        <activity android:name=".Activity.GroupMemberAddActivity" />
        <activity android:name=".Activity.Group2Activity" />
        <activity
            android:name=".Activity.dataPopUpActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Activity.ChangeContent" />
        <activity
            android:name=".Activity.InformationActivity"
            android:theme="@style/AppTheme.Pop" />
        <activity android:name=".Activity.GroupModifyActivity" />
        <activity android:name=".Activity.ChangeLeaderActivity"></activity>
        <activity android:name=".Activity.Main2Activity" />
    </application>

</manifest>